<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">pass</property>
		<property name="hibernate.connection.url">jdbc:mysql://&lt;host&gt;&lt;:port&gt;/&lt;database&gt;</property>
		<property name="hibernate.connection.username">user</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<mapping resource="udea/iw/gestion/dao/mapping/Dispositivo.hbm.xml" />
		<mapping resource="udea/iw/gestion/dao/mapping/Estado_dispositivo.hbm.xml" />
		<mapping resource="udea/iw/gestion/dao/mapping/Estado_prestamo.hbm.xml" />
		<mapping resource="udea/iw/gestion/dao/mapping/Estado_solicitud.hbm.xml" />
		<mapping resource="udea/iw/gestion/dao/mapping/Prestamo.hbm.xml" />
		<mapping resource="udea/iw/gestion/dao/mapping/Solicitud.hbm.xml" />
		<mapping resource="udea/iw/gestion/dao/mapping/Tipo_dispositivo.hbm.xml" />
		<mapping resource="udea/iw/gestion/dao/mapping/Tipo_usuario.hbm.xml" />
		<mapping resource="udea/iw/gestion/dao/mapping/Usuario.hbm.xml" />
		<mapping resource="udea/iw/gestion/dao/mapping/UsuarioSimple.hbm.xml" />
	</session-factory>
</hibernate-configuration>
